<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><h2>MY BOOKCLUB</h2></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/books">TOP PICKS</a></li>
        <li><a href="/clubs">JOIN A CLUB</a></li>
        <li><a href="/create">CREATE CLUB</a></li>
      </ul>
    </div>
  </nav>


<div class="row titleArea">
  <div class="col s12">
  <h3>Find your new club</h3>
  </div>

  <div class="textstyle2">
    <p>Looking for a book club to join? Here you can find a variety of book clubs that are open to the public and already exist. We believe anyone can and should join a book club. Use this page as your guide to find the right club for you.</p>
  </div>
</div>
<div class="container">
   {{#each clubs}}
      <div class="card clubCard horizontal">
        <div class="card-image clubCoverImg">
          <img src="https://images-na.ssl-images-amazon.com/images/I/91twTG-CQ8L.jpg">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <span class="card-title"><a href="/clubs/{{this.id}}"><h4>{{clubName}}</h4></a></span>
            <p>{{description}}</p>
            <p> Club Creator: {{clubCreator}}</p>
            </div>

            <div class="card-action">
            <a href="/clubs/{{this.id}}" class="textstyle3">Join this club</i></a>
            </div>
          
        </div>
      </div>
    {{/each}}
</div>
<footer class="page-footer-club">
  © 2020 Copyright    
</footer>
